@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-canvas: #fcfcfc;
  --bg-surface: #ffffff;
  --bg-footer: #050505;

  --text-primary: #050505; /* Cinzel Headers */
  --text-body: #2d2d2d; /* Descriptions */
  --text-muted: #666666; /* Price labels, subtext */
  --text-inverse: #fcfcfc; /* Text on dark backgrounds */

  --brand-main: #050505; /* Primary Buttons */
  --brand-soft: #ebddd6; /* Accents / Hover fills */

  --border-light: #e5e5e5; /* Subtle dividers */
  --border-hardware: #a8a9ad; /* Input borders */

  --status-error: #8b0000; /* Out of Stock */
  --status-success: #2e5c43; /* Added to Cart */
  --status-warning: #c5a059; /* Low Stock / Best Seller */

  /* --- SPACING & LAYOUT (Desktop First) --- */
  --spacing-xs: 0.5rem;
  --spacing-neu: 1rem;
  --spacing-md: 1.5rem;
  --spacing-xl: 4rem; /* Generous luxury spacing */

  /* --- TYPOGRAPHY SCALE (Desktop) --- */
  --ff-heading: Cinzel, serif;
  --ff-body: Montserrat, sans-serif;

  --font-size-display: 5rem; /* 80px - Hero Banners */
  --font-size-h1: 3.5rem; /* 56px - Page Titles */
  --font-size-h2: 2.5rem; /* 40px - Section Headers */
  --font-size-icons: 1.25rem;
  --font-size-h3: 1.25rem; /* 20px - Product Names */
  --font-size-body: 1rem; /* 16px - Standard Reading */
  --font-size-ui: 0.875rem; /* 14px - Buttons/Nav */
  --font-size-xs: 0.8rem; 
  
  /* --- SPACING & WEIGHT --- */
  --spacing-wide: 0.15em; /* For Buttons/Nav */
  --spacing-header: 0.2rem; /* For Cinzel */
  --line-height-body: 1.7; /* Breathable luxury reading */
  --font-weight-extra-bold: 600; 
  --font-weight-bold: 500; 
  --font-weight-light: 400; 
  
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease-in-out;
}

/* ==========
RESETS
========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--ff-body);
  background-color: var(--bg-canvas);
  color: var(--text-body);
  transition: var(--transition);
}

body::-webkit-scrollbar{
  width: var(--spacing-xs);
  background: var(--bg-canvas);
}

body::-webkit-scrollbar-thumb{
  background: var(--brand-main);
}

a {
  color: inherit;
}

h2 {
  font-family: var(--ff-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold-h2);
  color: var(--text-primary);
  text-align: left;
}

img {
  width: 100%;
}

/* Disable the blue highlight on mobile Chrome, Safari, and Brave */
a, 
button, 
input, 
textarea, 
select, 
.clickable {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Older Android support */
}

/* Firefox Mobile */
a:active, 
button:active {
  outline: none;
}
