/* ==================== SHOP PAGE LAYOUT ==================== */

.shop-main {
    margin-top: 180px; 
    min-height: 80vh; /* Ensures footer stays at bottom on empty pages */
}

@media (max-width: 900px) {
    .shop-main {
        margin-top: 140px; 
    }
}

.shop_header {
    margin-bottom: 40px;
    padding: 0 20px;
    text-align: center;
}

.shop_title {
    /* margin-bottom: 10px; */
    color: var(--text);
    font-family: var(--ff-heading);
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.shop_desc {
    max-width: 600px;
    margin: 0 auto;
    color: var(--text);
    font-family: var(--ff-body);
    font-size: 1rem;
    opacity: 0.7;
}

.product-grid {
    padding: 0 32px;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));  */
    grid-template-columns: repeat(5, 1fr); 
    gap: 30px 20px;
    width: 100%;
}

@media (min-width: 600px) and (max-width: 900px) {
    .product-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
    }
    
    .shop_title {
        font-size: 1.3rem;
    }
}

/* 4. Empty State (No Products Found) */
.no-products-msg {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    grid-column: 1 / -1;
    text-align: center;
}

.no-products-msg h3 {
    font-family: var(--ff-heading);
    font-size: 1.5rem;
    color: var(--text);
}

.no-products-link {
    color: var(--accent);
    font-family: var(--ff-body);
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: var(--transition);
}

.no-products-link:hover {
    color: var(--text);
}