@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Marcellus&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font_1: "Cinzel", serif;
    --font_2: "Raleway", sans-serif;
    --tile: "Marcellus", serif;
    --color_dark: #1d1a1b;
    --color_light: #d3d3d3;
    --white: #fff;
    --color_accent: #818181;
}

/* .darkmode {
  --color_light: #1d1a1b;
  --color_dark: #d3d3d3;
  --body: #1d1a1b;
} */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: var(--font_1);
    background-color: var(--white);
    color: var(--color_dark);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h2 {
    font-size: 1.75rem;
    text-align: center;
    border-bottom: 1px solid #1d1a1b;
    margin: 2rem 4rem;
}

/* ------PRODUCT DETAILS----- */

.tags_con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding: 1rem;
    font-family: var(--font_2);
    font-size: .9rem;
    font-weight: 500;
}

.tags_con a {
    padding: .25rem .5rem;
    background-color: var(--color_dark);
    color: var(--color_light);
    border: 2px solid var(--color_dark);
    transition: .3s ease;
}

.tags_con a:hover {
    background-color: var(--color_light);
    color: var(--color_dark);
}

.product-details-con {
    width: 90%;
    max-width: 60rem;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.gallery {
    width: 100%;
    max-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_image {
    width: 100%;
}

#main-image {
    border: 2px solid var(--color_dark);
}

.thumbnail-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
}

.thumbnail {
    display: flex;
    flex: 1;
    max-width: 25%;
    border: 2px solid var(--color_dark);
    cursor: pointer;
}

.product-info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.prod_name {
    font-family: var(--font_1);
    font-size: 1.1rem;
}

#product-description {
    font-family: var(--font_2);
    font-size: .95rem;
    padding: 1rem 0;
}

#product-price {
    font-family: var(--tile);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color_dark);
}

.qty-selector {
    padding: 1.5rem 0;
    font-weight: 600;
}

.qty-selector input {
    font-size: 1rem;
    width: 5rem;
    margin: 0 .5rem;
    padding: .5rem;
    font-family: var(--tile);
    color: var(--color_dark);
    outline: none;
    border: 1px solid var(--color_dark);
}

.color-options {
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
}

.color-box {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--color_light);
    cursor: pointer;
}

.color-box.selected {
    border-color: var(--color_dark);
}

.size-selector {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.size{
    margin-top: 1rem;
}

#product-size {
    width: 100%;
    -webkit-appearance: none;
    height: 1rem;
    background: var(--color_light);
    outline: none;
    border: 2px solid var(--color_dark);
}

#product-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--color_dark);
    cursor: pointer;
    z-index: 5;
    position: relative;
}

#product-size::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--color_dark);
    cursor: pointer;
    z-index: 5;
    position: relative;
}

.input_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#selected-size {
    font-weight: 700;
}

#size-chart-link{
    display: none;
}

.t_price {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

#total-price {
    font-family: var(--tile);
    font-size: 2rem;
    font-weight: 700;
    padding: .25rem .5rem;
}

#add-to-cart {
    margin: 2rem 0;
    padding: .5rem 2rem;
    width: 100%;
    outline: none;
    border: 2px solid var(--color_dark);
    font-family: var(--font_1);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color_dark);
    color: var(--color_light);
    cursor: pointer;
    transition: .3s ease;
}

#add-to-cart:hover {
    background-color: var(--color_light);
    color: var(--color_dark);
}

/* -----NEW ARRIVALS----- */

video{
    width: 100%;
}

.vid_con{
    width: 100%;
    margin: 2rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.vid_tile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white);
    transition: .3s ease;
    cursor: pointer;
}

.vid_tile:hover{
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.vid_txt{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
    font-family: var(--tile);
    font-size: 1.1rem;
}

.vid_txt h4{
    font-weight: 500;
}

/* -----MODAL 'ADDED TO CART'----- */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 90%;
    max-width: 25rem;
    padding: 1.5rem;
    background: var(--white);
    text-align: center;
    border: 2px solid var(--color_dark);
}

.modal-content h3 {
    margin: .5rem 0;
}

.modal-content p {
    font-family: var(--font_2);
}

.modal-content .icon {
    font-size: 3.5rem;
    color: var(--color_dark);
}

.modal-content button {
    font-family: var(--font_1);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding: .5rem 1.5rem;
    background: var(--color_dark);
    color: var(--color_light);
    border: 2px solid var(--color_dark);
    cursor: pointer;
    transition: .3s;
}

.modal-content button:hover {
    background: var(--color_light);
    color: var(--color_dark);
}

/* -----CART----- */

.cart_con {
    width: 90%;
    margin: 0 auto 2rem auto;
}

.cart_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 2px solid var(--color_light);
}

.item-image {
    display: flex;
    width: 30%;
    border: 2px solid var(--color_dark);
}

.item-details {
    width: 70%;
}

.item-mini-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: .5rem 0;
    font-weight: 500;
}

.item-mini-box input {
    font-size: 1rem;
    width: 5rem;
    padding: .5rem;
    font-family: var(--tile);
    color: var(--color_dark);
    outline: none;
    border: 1px solid var(--color_dark);
}

.remove-item {
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cart-total {
    width: 90%;
    margin: 0 auto 3rem auto;
}

.cart-total p {
    font-size: .9rem;
    font-weight: 700;
}

#cart-total {
    display: block;
    font-size: 2rem;
}

.checkout_btn {
    width: 100%;
    max-width: 40rem;
    margin: 1rem 0;
    padding: .5rem 1rem;
    font-family: var(--font_1);
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: 2px solid var(--color_dark);
    background-color: var(--color_dark);
    color: var(--color_light);
    cursor: pointer;
    transition: .3s ease;
}

.checkout_btn:hover {
    background-color: var(--color_light);
    color: var(--color_dark);
}

/* -----EMPTY CART----- */

.empty-cart {
    display: none;
    width: 90%;
    max-width: 40rem;
    margin: 0 auto 3rem auto;
    text-align: center;
    padding: 1.5rem;
    border: 2px solid var(--color_dark);
}

.empty-cart h3 {
    margin: 0 0 .5rem;
    font-size: 1.5rem;
}

.empty-cart .icon {
    font-size: 3.5rem;
    color: var(--color_dark);
}

.empty-cart p {
    font-family: var(--font_2);
    font-size: 1rem;
    color: var(--color_accent);
}

.empty-cart button {
    font-family: var(--font_1);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding: .5rem 1.5rem;
    background: var(--color_dark);
    color: var(--color_light);
    border: 2px solid var(--color_dark);
    cursor: pointer;
    transition: .3s;
}

.empty-cart button:hover {
    background: var(--color_light);
    color: var(--color_dark);
}

/* -----CHECKOUT----- */

.checkout-con {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.order-summary {
    width: 100%;
}

.checkout_box {
    width: 90%;
    margin: auto;
    padding: 1rem;
    border-bottom: 2px solid var(--color_light);
}

.checkout_box h3 {
    font-size: 1.1rem;
    text-align: left;
}

.checkout_box_details {
    margin: .2rem 0 1rem 0;
    font-weight: 500;
}

.checkout_price {
    margin: .5rem 0;
    font-family: var(--tile);
    font-size: 1.2rem;
    font-weight: 600;

}

#checkout-total {
    font-family: var(--tile);
    font-size: 1.5rem;
}

.checkout_total {
    width: 70%;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 600;
}

.checkout-form {
    width: 100%;
    padding: 1rem;
}

.checkout-form h3 {
    text-align: left;
}

.checkout-form input {
    font-size: 1rem;
    width: 100%;
    margin: 1rem 0;
    padding: .5rem;
    font-family: var(--tile);
    color: var(--color_dark);
    outline: none;
    border: 1px solid var(--color_dark);
}

.checkout-form input:focus {
    border: 2px solid var(--color_dark);
}

.checkout-form textarea {
    font-size: 1rem;
    width: 100%;
    margin: 1rem 0;
    padding: .5rem;
    font-family: var(--tile);
    color: var(--color_dark);
    outline: none;
    border: 1px solid var(--color_dark);
}

#paystack-btn {
    width: 100%;
    padding: .5rem 1rem;
    font-family: var(--font_1);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--color_dark);
    color: var(--color_light);
    outline: none;
    border: 2px solid var(--color_dark);
    cursor: pointer;
    transition: .3s ease;
}

#paystack-btn:hover {
    background-color: var(--color_light);
    color: var(--color_dark);
}

/* -----THANK YOU PAGE----- */
.thankyou_con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.thankyou_box {
    width: 80%;
    max-width: 35rem;
    padding: 1rem;
    text-align: center;
    font-family: var(--tile);
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid var(--color_dark);
}

.thankyou_box p {
    margin-bottom: 1rem;
}

.thankyou_box .icon {
    font-size: 2.5rem;
}

#order-ref {
    color: var(--color_accent);
}

.thankyou_box button {
    margin: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.thankyou_box a {
    padding: .5rem 1.5rem;
    width: 70%;
    font-family: var(--font_1);
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    background-color: var(--color_dark);
    color: var(--color_light);
    border: 2px solid var(--color_dark);
    transition: .3s ease;
}

.thankyou_box a:hover {
    background-color: var(--color_light);
    color: var(--color_dark);
}

@media (min-width : 600px) and (max-width : 900px) {
    .product-details-con {
        justify-content: space-between;
        flex-direction: row;
        gap: 5rem;
    }

    .gallery {
        width: 50%;
    }

    .product-info {
        width: 50%;
    }

    .product-info {
        padding-top: 2rem;
    }

    .prod_name {
        font-size: 1.5rem;
    }

    #product-description {
        font-size: 1rem;
    }

    /* ------CART----- */

    .cart_con {
        max-width: 30rem;
        margin: 2.5rem;
    }

    /* -----CHECKOUT----- */

    .checkout-con {
        justify-content: flex-start;
        flex-direction: row;
        margin-bottom: 5rem;

    }

    .checkout-form {
        position: relative;
        padding: 2rem;
    }

    .checkout-form::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        height: 100%;
        width: .15rem;
        background-color: var(--color_light);
    }

    /* -----NEW ARRIVALS----- */
    .vid_con{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width : 900px) {
    .product-details-con {
        justify-content: space-between;
        flex-direction: row;
        gap: 5rem;
    }

    .gallery {
        width: 50%;
    }

    .product-info {
        width: 50%;
    }

    .product-info {
        padding-top: 3rem;
    }

    .prod_name {
        font-size: 1.7rem;
    }

    #product-description {
        font-size: 1rem;
    }

    /* ------CART----- */

    .cart_con {
        max-width: 35rem;
        margin: 2.5rem;
    }

    .checkout-con {
        justify-content: flex-start;
        flex-direction: row;
        margin-bottom: 5rem;

    }

    .checkout-form {
        position: relative;
        padding: 2rem;
    }

    .checkout-form::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        height: 100%;
        width: .15rem;
        background-color: var(--color_light);
    }

    /* ------NEW ARRIVALS----- */

    .vid_con{
        grid-template-columns: repeat(5, 1fr);
    }
}