@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Sora:wght@100..800&display=swap");

:root {
  --font_1: "Cinzel", serif;
  --font_2: "Sora", sans-serif;
  --color_main: #ff911e;
  --color_main_2: #f60543;
  --color_accent: #ffcb67;
  --color_minor: #d90896;
  --color_dark: #1d1a1b;
  --color_light: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: var(--font_1);
}

a {
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
}

.menu li {
  margin-bottom: 15px;
  padding: 1rem 0;
}

.menu a {
  text-decoration: none;
  color: var(--color_dark);
  font-weight: 700;
  font-size: 1.3rem;
  font-family: var(--font_1);
  border-bottom: 1px solid #1d1a1b;
}

.menu a:hover {
  border-bottom: 3px solid;
  border-color: var(--color_dark);
  transition: 0.3s;
}

.menu.active {
  transform: translateX(0);
  opacity: 1;
}

.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #fff;
  box-shadow: 2px 2px 10px #1d1a1b;
  z-index: 999;
}

.logo img {
  width: 110px;
}

.toggle_icon {
  font-weight: 700;
  color: var(--color_dark);
}

.home {
  background-color: var(--color_light);
  overflow: hidden;
}

.home_contain {
  position: relative;
  margin: 20px;
  top: 60px;
  height: 530px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 1rem;
}

.home_new {
  display: block;
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #1d1a1b;
}

.home_title {
  font-size: 2.75rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.home_desc {
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.button {
  display: inline-block;
  background-color: var(--color_dark);
  color: #fff;
  font-weight: 600;
  padding: 1.125rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-0.25rem);
}
@media (min-width: 768px) {
  .home {
    overflow: hidden;
    margin-top: 80px;
    background-color: var(--color_light);
  }

  .home_new{
    font-size: 1.5rem;
    border-bottom: 1px solid #1d1a1b;
  }

  .home_title{
    font-size: 6rem;
    font-weight: 800;
    margin:3rem 2rem 0 0;
  }

  .home_desc{
    font-size: 1.5rem;
    font-weight: 500;
  }

  .main {
    margin: 0 auto;
    max-width: 1090px;
  }
}
