@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Marcellus&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font_1: "Cinzel", serif;
  --font_2: "Raleway", sans-serif;
  --tile: "Marcellus", serif;
  --color_dark: #1d1a1b;
  --color_light: #d3d3d3;
  --white: #fff;
  --gold: #ffdf00;
}

/* .darkmode {
  --color_light: #1d1a1b;
  --color_dark: #d3d3d3;
  --body: #1d1a1b;
} */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font_1);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
  border-bottom: 1px solid #1d1a1b;
  margin: 2rem 4rem;
}

/* -----NAVIGATION----- */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: var(--white);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu li {
  list-style: none;
  padding: 1rem 0;
}

.menu a {
  text-decoration: none;
  color: var(--color_dark);
  font-weight: 700;
  font-size: 1.1rem;
  font-family: var(--font_1);
  transition: .3s;
}

.menu a:hover {
  color: var(--color_light);
}

.menu.active {
  transform: translateX(0);
  opacity: 1;
}

.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: var(--white);
  box-shadow: 2px 2px 10px var(--color_dark);
  z-index: 998;
}

.logo img {
  width: 110px;
  height: auto;
}

.toggle_icon {
  font-weight: 700;
  color: var(--color_dark);
}

.cart {
  position: absolute;
  right: 18%;
}

.cart a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color_dark);
  transition: .3s ease;
}

.cart a:hover {
  color: var(--color_light);
}

.cart_no {
  font-size: .8rem;
  margin-left: .3rem;
  padding: .1rem .3rem;
  background-color: var(--color_light);
  color: var(--color_dark);
  border: 1px solid var(--color_dark);
}

.cart_2 {
  display: none;
}

.cart_wrap{
  display: flex;
  align-items: center;
}

.srch_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 2px solid var(--color_light);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.search-bar input {
  font-family: var(--font_2);
  padding: .25rem 1rem;
  outline: none;
  border: 1px solid var(--color_dark);
}

.search-bar input:focus {
  border: 2px solid var(--color_dark);
}

.search-bar select {
  width: 7rem;
  padding: .25rem 1rem;
  font-family: var(--font_2);
  outline: none;
  border: 1px solid var(--color_dark);
  cursor: pointer;
}

.search-bar select:focus {
  border: 2px solid var(--color_dark);
}

.search-bar button {
  outline: none;
  border: none;
  background-color: var(--color_light);
  color: var(--color_dark);
  font-size: 1.3rem;
  padding: 0 .2rem;
  border: 2px solid var(--color_dark);
  cursor: pointer;
  transition: .3s;
}

.search-bar button:hover {
  background-color: var(--color_dark);
  color: var(--color_light);
}

/* ------HOME PAGE----- */

.main {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 200px;
  margin-top: 4.5rem;
}

.main h3 {
  text-align: center;
}

.hero_sec {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.slide_con {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 500%;
  display: flex;
  height: 100%;
  animation: slide 20s infinite ease-in-out;
}

.slide {
  width: 20%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cta_text {
  margin-top: 2rem;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color_dark);
}

.cta_text h2 {
  margin: 0;
  padding: 1.5rem;
  color: var(--color_light);
  font-size: 1.7rem;
  font-weight: 700;
  border: none;
}

.cta_text span {
  padding: 0 2rem;
  text-align: center;
  color: var(--color_light);
}

.cta_text a {
  padding: .7rem;
  box-shadow: -1px 1px 5px 1px #1d1a1b;
  background-color: var(--color_light);
  color: var(--color_dark);
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: .3s;
}

.cta_text a:hover {
  background-color: var(--color_dark);
  color: var(--color_light);
  outline: 1px solid var(--color_light);
}

@keyframes slide {

  0%,
  20% {
    transform: translateX(0);
  }

  25%,
  45% {
    transform: translateX(-20%);
  }

  50%,
  70% {
    transform: translateX(-40%);
  }

  75%,
  95% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-80%);
  }
}

.seg_con {
  position: relative;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-direction: column;
}

.seg_box {
  width: 100%;
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color_light);
  border: 2px solid var(--color_dark);
}

.seg_1 {
  width: 50%;
}

.seg_1 h4 {
  margin-bottom: .75rem;
  font-size: 1.5rem;
}

.seg_1 a {
  padding: .2rem;
  font-size: 1rem;
  color: var(--color_dark);
  border: 1px solid #1d1a1b;
  transition: .3s;
}

.seg_1 a:hover {
  background-color: var(--color_dark);
  color: var(--color_light);
}

.seg_2 {
  width: 50%;
  display: flex;
}

.seg_2 img {
  width: 100%;
  height: 100%;
}

.promo_con {
  position: relative;
  margin: 1rem auto;
  width: 95%;
  max-height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid var(--color_light);
  background-color: var(--color_dark);
  color: var(--color_light);
  font-family: var(--font_2);
  gap: 1rem;
}

.promo_text {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.promo_text h4 {
  margin-bottom: .5rem;
  padding: .4rem;
  width: max-content;
  font-size: 1rem;
  border: 1px solid var(--color_light);
}

.promo_text p {
  margin: 1rem 0;
  color: var(--color_light);
  font-size: .8rem;
}

.promo_text span {
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: .8rem;
}

.strike {
  text-decoration: line-through;
}

.promo_text a {
  margin-top: .5rem;
  padding: .5rem;
  font-size: .8rem;
  background-color: var(--color_light);
  color: var(--color_dark);
  transition: .3s;
}

.promo_text a:hover {
  background-color: var(--color_dark);
  color: var(--color_light);
  outline: 1px solid var(--color_light);
}

.promo_img {
  width: 50%;
  max-height: inherit;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.promo_img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.ed_pick_p {
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  font-weight: 500;
}

.ed_pick_con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ed_pick_box {
  width: 90%;
  padding: 1rem;
}

.ed_pick_img {
  border: 2px solid var(--color_dark);
  display: flex;
  overflow: hidden;
}

.ed_pick_img img {
  transition: .5s;
}

.ed_pick_img img:hover {
  scale: 1.075;
  cursor: pointer;
}

.ed_pick_txt {
  padding: 1rem 0;
}

.ed_pick_txt h4 {
  font-size: 1.1rem;
}

.ed_pick_txt p {
  color: var(--color_dark);
}

.ed_pick_txt span {
  font-weight: 600;
  font-family: var(--font_1);
  font-size: 1.09rem;
}

.honour_con {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--color_dark);
  border-top: 2px solid var(--color_light);
  border-bottom: 2px solid var(--color_light);
  font-family: var(--font_2);
  padding: 2rem;
  margin: 2rem 0;
  gap: 2rem;
}

.honour_box {
  background-color: var(--color_light);
  min-height: 7rem;
  max-height: 8rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.honour_img {
  width: 50%;
}

.honour_txt {
  width: 50%;
  margin: 0 .5rem;
  font-weight: 600;
  color: var(--color_dark);
}

.cards_con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--color_dark);
  padding: 1rem;
  background-color: var(--color_light);
}

.cards_box {
  width: 20rem;
  height: 20rem;
  background: url(/assets/img/leggings_x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem;
  border: 2px solid var(--color_dark);
}

.cards_box_2 {
  width: 20rem;
  height: 20rem;
  background: url(/assets/img/lingerie_set_x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem;
  border: 2px solid var(--color_dark);
}

.cards_box_3 {
  width: 20rem;
  height: 20rem;
  background: url(/assets/img/2_pcs_night_wear_4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem;
  border: 2px solid var(--color_dark);
}

.cards_box h3,
.cards_box_2 h3,
.cards_box_3 h3 {
  text-align: left;
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--color_dark);
  text-shadow: 1px 1px 1px;
}

.cards_box p,
.cards_box_2 p,
.cards_box_3 p {
  font-family: var(--font_2);
  font-size: 1rem;
  text-shadow: 1px 1px 1px;
}

.news_con {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto;
  background: url(/assets/img/new_bgd.jfif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid var(--color_dark);
}

.bgd {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.news_txt {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color_light);
  text-shadow: 1px 1px 1px;
  z-index: 1;
}

.news_input {
  width: 100%;
  padding: 0 1rem;
  z-index: 1;
}

.news_input form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.news_input input {
  font-family: var(--font_1);
  height: 2.5rem;
  width: 65%;
  padding: 0 .5rem;
  outline: none;
  border-left: 1px solid var(--color_dark);
  border-right: none;
  border-top: 1px solid var(--color_dark);
  border-bottom: 1px solid var(--color_dark);
}

.news_input input:focus {
  border: 2px solid var(--color_dark);
}

.news_input button {
  height: 2.5rem;
  padding: 0 .7rem;
  font-family: var(--font_1);
  font-size: 1.05rem;
  font-weight: 600;
  background-color: var(--color_dark);
  color: var(--color_light);
  outline: none;
  border-top: 1px solid var(--color_dark);
  border-right: 1px solid var(--color_dark);
  border-left: none;
  border-bottom: 1px solid var(--color_dark);
  cursor: pointer;
  transition: .5s ease;
}

.news_input button:hover {
  background-color: var(--color_light);
  color: var(--color_dark);
}

footer {
  width: 100%;
  background-color: var(--color_light);
  font-family: var(--font_2);
  border-top: 2px solid var(--color_dark);
}

.foot_con {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color_dark);
}

.foot_con a {
  color: var(--color_dark);
}

.foot_logo {
  width: 6rem;
}

.foot_box {
  display: flex;
  flex-direction: column;
}

.foot_box h3,
.foot_soc h3 {
  margin-bottom: 1.5rem;
}

.foot_box i {
  font-size: 1.2rem;
}

.foot_box a:hover {
  text-decoration: underline;
}

.foot_box img {
  width: 19rem;
  padding: 1rem 0;
}

.foot_soc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.foot_soc a {
  font-size: 1.2rem;
  padding: .4rem;
  color: var(--color_dark);
  border: 2px solid var(--color_dark);
  transition: .5s ease;
}

.foot_soc a:hover {
  background-color: var(--color_dark);
  color: var(--color_light);
}

.copy {
  width: 100%;
  text-align: center;
  font-size: .8rem;
  padding: .5rem;
}

/* -----SHOP----- */

.srch_wrap{
  position: sticky;
  top: 3.8rem;
  width: 100%;
  background-color: var(--white);
  z-index: 100;
}

.shop_wrap {
  margin-bottom: 1rem;
}

.shop_wrap h3 {
  text-align: left;
  padding: 0 1rem;
}

.tile_con {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem auto;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--white);
  color: var(--color_dark);
}

.tile {
  cursor: pointer;
  transition: .5s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  transition: .5s ease;
  z-index: 1;
}

.tile:hover {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.tile_txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--tile);
  font-weight: 590;
  padding: .5rem 0;
  background-color: var(--white);
}

.tile_npr .price {
  padding: .5rem 0;
}

.tile_txt button{
  font-size: 1.5rem;
  padding: .5rem;
  margin-right: .5rem;
  background-color: var(--color_light);
  border: none;
  outline: none;
  color: var(--color_dark);
  transition: .5s ease;
  cursor: pointer;
  z-index: 30;
}

.tile_txt button:hover {
  background-color: var(--color_dark);
  color: var(--color_light);
}

/* ----ABOUT ME----- */

.about_con {
  margin: 0 auto 3rem auto;
  width: 100%;
  padding: 0 0 3rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 2rem;
}

.about_img {
  width: 80%;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid var(--color_dark);
  overflow: hidden;
}

.about_img img {
  width: 100%;
  height: auto;
  transition: 0.5s;
}

.about_img img:hover {
  scale: 1.1;
}

.about_text {
  margin: 1rem;
  text-align: center;
}

.about_text h2 {
  border-bottom: none;
}

.about_text p {
  font-weight: 600;
  padding: 0 1rem;
}

.about_text span {
  font-size: 1.5rem;
}

.toggle-section {
  margin-bottom: 1.25rem;
  width: 100%;
}

.toggle-button {
  width: 100%;
  display: inline-block;
  padding: 1rem 1.25rem;
  margin: auto;
  background: var(--color_dark);
  color: var(--color_light);
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font_1);
  text-align: left;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-button:hover {
  background: var(--color_light);
  color: var(--color_dark);
}

/* .toggle-button.active::after {
  content: ' \25bc ';
} */

.toggle-content {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  background: var(--white);
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.toggle-content.active {
  max-height: 60vh;
  padding: 1rem;
  margin-top: 1rem;
  overflow-y: auto;
}

.toggle-content p,
.toggle-content ul,
.toggle-content h4 {
  font-family: var(--font_2);
  font-size: 1rem;
  color: var(--color_dark);
  margin-bottom: 1rem;
}

.toggle-content ul {
  padding-left: 1.25rem;
}

/* ------MEDIA QUERIES------ */

@media (min-width: 600px) and (max-width: 900px) {
  .cart {
    right: 10%;
  }

  .ed_pick_con {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .ed_pick_box {
    padding: 2rem;
    max-width: 50%;
  }

  .honour_con {
    grid-template-columns: repeat(3, 1fr);
  }

  .news_txt {
    font-size: 1.4rem;
  }

  .foot_con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .item1 {
    grid-column: 1;
    grid-row: 1 / span 3;
  }

  .item2a {
    grid-column: 2;
    grid-row: 1;
  }

  .item2b {
    grid-column: 2;
    grid-row: 2;
  }

  .item3a {
    grid-column: 3;
    grid-row: 1;
  }

  .item3b {
    grid-column: 3;
    grid-row: 2;
  }

  .item4 {
    grid-column: 3;
    grid-row: 3;
  }

  /* -----SHOP----- */


  .tile_con {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width : 900px) {
  /* -----NAVIGATION----- */

  h2 {
    padding-top: 1rem;
  }

  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    position: absolute;
    max-width: fit-content;
    min-width: 70%;
    transform: none !important;
    opacity: 1 !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin-right: 2em;
    box-shadow: none;
    padding-top: 0.5rem;
    gap: 1rem;
    z-index: 998;
  }

  #menu-toggle {
    display: none;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    margin-bottom: 0;
    padding: 0;
  }

  .menu a {
    text-decoration: none;
    color: var(--color_dark);
    font-weight: 600;
    font-size: 1rem;
    font-family: var(--font_1);
    transition: .3s;
  }

  .cart {
    display: none;
  }

  .cart_2 {
    display: block;
    margin: 0 1rem;
  }

  .cart_2 a {
    color: var(--color_dark);
    font-size: 1.8rem;
    transition: .3s ease;
  }

  .cart_2 a:hover {
    color: var(--color_light);
  }

  .cart_no{
    font-size: .9rem;
    padding: .05rem .25rem;
  }

  /* -----HOME PAGE----- */

  .main {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 4rem;
  }

  .hero_sec {
    height: max-content;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .cta_text {
    order: 1;
    width: 30%;
    height: auto;
    background-color: var(--body);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cta_text span {
    margin-bottom: 1rem;
    color: var(--color_dark);
    font-weight: 600;
  }

  .slide_con {
    order: 2;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
  }

  .slide {
    border: none;
  }

  .slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
  }

  .cta_text h2 {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--color_dark);
    text-shadow: 1px 1px 3px var(--color_dark);
    margin: 0;
    padding: 1rem 2.5rem;
  }

  .cta_text a {
    padding: 1rem;
    font-size: 1.2rem;
    margin: 0;
    background-color: var(--color_dark);
    color: var(--color_light);
  }

  .cta_text a:hover {
    background-color: var(--color_light);
    color: var(--color_dark);
  }

  .seg_con {
    flex-direction: row;
  }

  .seg_1 h4 {
    font-size: 2rem;
  }

  .seg_1 a {
    font-size: 1.5rem;
    padding: .5rem;
  }

  .promo_text {
    padding: 2rem;
  }

  .promo_text p {
    font-size: 1.2rem;
  }

  .promo_text span {
    font-size: 1.5rem;
  }

  .promo_text h4 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  .promo_text a {
    font-size: 1.5rem;
  }

  .ed_pick_con {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .ed_pick_box {
    max-width: 40%;
  }

  .honour_con {
    grid-template-columns: repeat(6, 1fr);
    border: 2px solid var(--color_light);
  }

  .news_con {
    flex-direction: row;
  }

  .bgd {
    width: 100%
  }

  .news_txt {
    font-size: 1.6rem;
  }

  .foot_con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }

  .foot_logo {
    width: 8rem;
  }

  .item1 {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .item2a {
    grid-column: 2;
    grid-row: 1;
  }

  .item2b {
    grid-column: 2;
    grid-row: 2;
  }

  .item3a {
    grid-column: 3;
    grid-row: 1;
  }

  .item3b {
    grid-column: 3;
    grid-row: 2;
  }

  .item4 {
    grid-column: 4;
    grid-row: 1 / span 2;
  }

  .copy {
    margin-top: 2rem;
  }

  /* -----SHOP----- */

  .tile_con {
    grid-template-columns: repeat(5, 1fr);
  }


  /* ----ABOUT ME----- */

  .about_con {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto;
    padding: 0 5rem 5rem 0;
    top: 0;
  }

  .about_img {
    height: 90vh;
  }

  .about_text {
    width: 100%;
  }

  .about_text h2 {
    font-size: 2.5rem;
  }

  .toggle-section {
    width: 70%;
    margin: 1rem auto;
  }

  .toggle-content {
    font-size: 0.9rem;
  }

  .toggle-content.active {
    max-height: 80vh;
    padding: 0.625rem;
  }

}