@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:wght@400;500;700&family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-color: hsl(210, 5%, 95%);
  --secondary-color: hsl(210, 50%, 80%);
  --price-color: hsl(210, 50%, 40%);
  --text: hsl(25, 20%, 15%);
  --accent: hsl(40, 60%, 55%);
  --input-color: hsl(0, 0%, 90%);
  --glass-bg: hsla(0, 0%, 100%, 0.15);
  --green: hsl(145, 35%, 55%);
  --green-2: hsl(145, 35%, 45%);
  --red: hsl(0, 65%, 60%);
  --overlay: hsla(210, 25%, 25%, 0.55);
  --link: hsl(40, 95%, 75%);
  --rating: hsl(40, 60%, 45%);
  --white_txt: hsl(0, 0%, 100%);
  --gradient: linear-gradient(to bottom,
      hsla(210, 5%, 85%, .5) 0%,
      hsla(210, 5%, 95%, 1) 100%);
  --shadow: 0 0 12px hsla(210, 45%, 50%, .5);
  --shadow-hov: 0 0 16px hsla(210, 45%, 50%, .7);
  --shadow-act: 0 0 8px hsla(210, 45%, 50%, .5);
  --border: 1px solid hsla(40, 60%, 55%, 0.4);
  --border-radius: 2rem;
  --transition: all .5s ease;
  --glass: blur(5px);
  --hover: translateY(-2px);
  --padding: 1rem;
  --l-padding: 2rem;
  --s-margin: .5rem;
  --margin: 1rem;
  --l-margin: 2rem;
  --ff-heading: Cinzel, serif;
  --ff-body: Quicksand, sans-serif;
  --ff-numeric: Poppins, sans-serif;
  --ff-xtitle: 2.5rem;
  --ff-title: 2rem;
  --ff-title-2: 1.5rem;
  --ff-text: 1.125rem;
  --ff-small: 0.875rem;
  --ff-xbold: 800;
  --ff-bold: 700;
  --ff-regular: 500;
  --ff-light: 400;
  --hero: url(/assets/img/hero.jpg);
  --slides-per-view: 1;
  --slide-gap: 20px;
}

.darkmode {
  --primary-color: hsl(206, 14%, 10%);
  --secondary-color: hsl(210, 25%, 18%);
  --price-color: hsl(210, 50%, 50%);
  --text: hsl(30, 25%, 92%);
  --accent: hsl(40, 65%, 60%);
  --input-color: hsl(0, 0%, 40%);
  --glass-bg: hsla(210, 25%, 25%, 0.35);
  --green: hsl(145, 45%, 55%);
  --green-2: hsl(145, 45%, 45%);
  --red: hsl(0, 70%, 60%);
  --overlay: hsla(210, 30%, 10%, 0.65);
  --link: hsl(40, 85%, 75%);
  --rating: hsl(40, 60%, 50%);
  --white_txt: hsl(0, 0%, 100%);
  --gradient: linear-gradient(to bottom,
      hsla(206, 14%, 10%, 1) 0%,
      hsla(206, 14%, 20%, .3) 100%);
  --shadow: 0 0 18px hsla(210, 60%, 25%, 0.6);
  --shadow-hov: 0 0 22px hsla(210, 60%, 30%, 0.8);
  --shadow-act: 0 0 14px hsla(210, 60%, 25%, 0.5);
  --border: 1px solid hsla(40, 60%, 60%, 0.35);
  --border-radius: 2rem;
  --hero: url(/assets/img/hero_2.jpg);
  --slide-gap: 20px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--ff-body);
  background-color: var(--primary-color);
  transition: var(--transition);
}

body::-webkit-scrollbar{
  width: .5rem;
  background-color: var(--primary-color);
}

body::-webkit-scrollbar-thumb{
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-family: var(--ff-heading);
  font-size: var(--ff-title);
  font-weight: var(--ff-bold);
  color: var(--text);
  text-align: center;
}

img {
  width: 100%;
}

.hero {
  width: 100%;
  height: 100%;
}

/* ===== PRELOADER ===== */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: var(--transition);
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid var(--accent);
  border-radius: 50%;
  box-shadow: var(--shadow);
  /* filter: drop-shadow(var(--shadow)); */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.preloader-hidden {
  opacity: 0;
  visibility: hidden;
}

/* ===== NAVIGATION ===== */

header {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  background: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  transition: var(--transition);
  z-index: 999;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav-links {
  display: none;
}

.utilities {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.menu-btn {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn span {
  height: 3px;
  background: var(--text);
  border-radius: 5px;
  transition: var(--transition);
}

.menu-btn.active span:nth-child(1) {
  transform: translateY(8.65px) rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: translateY(-8.65px) rotate(-45deg);
}

.menu-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 998;
}

.menu-overlay.active {
  transform: translateY(0);
  opacity: 1;
}

.menu-links {
  padding: 0;
  text-align: center;
}

.menu-links li {
  margin: var(--margin) 0;
}

.menu-links a {
  position: relative;
  display: inline-block;
  color: var(--link);
  font-family: var(--ff-heading);
  font-size: var(--ff-title-2);
  font-weight: var(--ff-regular);
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(20px);
}

.menu-links a:active {
  scale: .95;
}

.menu-links a::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: .125rem;
  background-color: var(--link);
  border-radius: 5px;
  transition: var(--transition);
}

.menu-links a:hover::before {
  width: 80%;
}

.menu-links .mark {
  color: var(--white_txt);
}

.menu-overlay.active a {
  animation: fadeUp 0.4s ease forwards;
}

.menu-overlay.active li:nth-child(1) a {
  animation-delay: 0.3s;
}

.menu-overlay.active li:nth-child(2) a {
  animation-delay: 0.4s;
}

.menu-overlay.active li:nth-child(3) a {
  animation-delay: 0.5s;
}

.menu-overlay.active li:nth-child(4) a {
  animation-delay: 0.6s;
}

.menu-overlay.active li:nth-child(5) a {
  animation-delay: 0.5s;
}

#btn {
  background-color: transparent;
  color: var(--text);
  font-size: var(--ff-title-2);
  outline: none;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

#btn:hover {
  transform: rotate(-15deg);
}

#btn i:last-child {
  display: none;
}

.darkmode #btn i:last-child {
  display: block;
}

.darkmode #btn i:first-child {
  display: none;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== MINI-CART ICON ===== */

.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

#mini-cart-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--text);
  font-size: var(--ff-title-2);
  border: none;
  transition: var(--transition);
  cursor: pointer;
}

#mini-cart-toggle:hover {
  transform: scale(1.05);
}

.cart-counter {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  color: var(--text);
  font-size: 0.8rem;
  font-weight: var(--ff-bold);
  border: var(--border);
  border-radius: 50%;
  transform: translate(50%, -50%);
}

/* DROPDOWN */

.mini-cart-dropdown {
  position: fixed;
  top: -4rem;
  left: 5%;
  right: 0;
  width: 90%;
  height: max-content;
  max-height: 80vh;
  background: var(--primary-color);
  color: var(--text);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: var(--transition);
  z-index: 9999;
}

.mini-cart-dropdown.open {
  top: 5rem;
  opacity: 1;
  visibility: visible;
}

.mini-cart-header {
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  font-family: var(--ff-heading);
  font-weight: var(--ff-regular);
  border-bottom: var(--border);
}

#close-mini-cart {
  padding: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--text);
  font-size: var(--ff-title-2);
  border: none;
  cursor: pointer;
}

.mini-cart-items {
  padding: 0.5rem;
  max-height: calc(100vh - 11rem);
  overflow-y: auto;
}

.mini-cart-item {
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
  border-bottom: var(--border);
}

.mini-cart-items::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--primary-color);
}

.mini-cart-items::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.mini-cart-item img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: .5rem;
}

.mini-cart-item-info h5 {
  font-size: 0.9rem;
  margin: 0 0 0.25rem;
  line-height: 1.3;
}

.cart_price {
  padding-top: .25rem;
  font-family: var(--ff-numeric);
  color: var(--price-color);
}

.mini-cart-item-info p {
  margin: 0;
  font-size: 0.85rem;
}

.mini-cart-footer {
  position: sticky;
  bottom: 0;
  padding: var(--padding);
  background-color: var(--primary-color);
  border-top: var(--border);
}

.mini-cart-subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: var(--ff-regular);
}

.mini-cart-subtotal-price {
  font-family: var(--ff-numeric);
}

.mini-cart-actions {
  display: flex;
  gap: 1rem;
}

.btn-secondary,
.btn-primary {
  padding: 0.75rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-heading);
  font-size: 1rem;
  font-weight: var(--ff-regular);
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.btn-secondary {
  background: var(--primary-color);
  color: var(--text);
  border: var(--border);
}

.btn-secondary:hover {
  box-shadow: var(--shadow-act);
}

.btn-primary {
  background: var(--secondary-color);
  color: var(--text);
}

.mini-cart-empty {
  padding: 2rem 1rem;
  width: 100%;
  text-align: center;
  color: var(--text);
}

.mini-cart-empty p {
  margin-bottom: 1rem;
}

.btn-link {
  padding: .5rem 1rem;
  width: 100%;
  display: block;
  font-family: var(--ff-heading);
  background-color: var(--secondary-color);
  color: var(--text);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.btn-link:hover {
  box-shadow: var(--shadow-act);
}

#srch {
  font-size: var(--ff-title-2);
  font-weight: var(--ff-regular);
  background: none;
  color: var(--text);
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

#srch:hover {
  transform: rotate(-15deg);
}

#srch:active {
  scale: .95;
}

.filters {
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  opacity: 0;
  transition: var(--transition);
  z-index: 10;
}

.filters.view {
  position: fixed;
  top: 4.5rem;
  opacity: 1;
}

.filters input {
  height: 2.5rem;
  width: 60%;
  max-width: 20rem;
  padding: var(--padding);
  background-color: var(--input-color);
  font-family: var(--ff-body);
  color: var(--text);
  outline: none;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

#color-filter {
  height: 2.5rem;
  padding: .5rem;
  background-color: var(--input-color);
  color: var(--text);
  font-family: var(--ff-body);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
}

#color-filter:focus {
  outline: var(--border);
}

/* ===== HERO SECTION ===== */

.hero-con {
  margin: 5.5rem 1rem;
  background: var(--gradient);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  border-radius: var(--border-radius);
}

.hero-txt {
  position: relative;
  width: 100%;
  height: 85vh;
  background: url(/assets/img/lin_set_v_1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.hero-txt_bg {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, .3);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-radius);
}

.hero-txt h1 {
  font-family: var(--ff-heading);
  font-weight: var(--ff-xbold);
  font-size: var(--ff-xtitle);
  padding: var(--padding);
  color: var(--white_txt);
  transition: var(--transition);
}

.hero-txt h1 span {
  font-size: 3rem;
  color: transparent;
  text-decoration: underline;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--accent);
  transition: var(--transition);
}

.hero-txt p {
  padding: 0 1rem;
  font-size: var(--ff-text);
  font-weight: var(--ff-regular);
  color: var(--white_txt);
  line-height: 1;
  transition: var(--transition);
}

.hero-txt a {
  margin: 2rem 1rem;
  padding: var(--padding) 1.5rem;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  color: var(--white_txt);
  font-family: var(--ff-heading);
  font-size: var(--ff-text);
  font-weight: var(--ff-regular);
  outline: none;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.hero-txt a:hover {
  box-shadow: var(--shadow-hov);
  transform: var(--hover);
}

.hero-txt a:active {
  box-shadow: var(--shadow-act);
  scale: .95;
}

.des_con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.des_box {
  position: relative;
  width: 70%;
  height: 30rem;
  background: var(--hero);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
}

.des_box:hover {
  box-shadow: var(--shadow-hov);
}

.des_box1 {
  position: absolute;
  bottom: -3rem;
  right: -4.5rem;
  max-width: 17rem;
  padding: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
  cursor: pointer;
}

.des_box1:hover {
  transform: var(--hover);
  box-shadow: var(--shadow-hov);
}

.des_box1:active {
  scale: .95;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, .5);
}

.in {
  width: 100%;
  border-radius: var(--border-radius);
}

.in img {
  border-radius: var(--border-radius);
}

.text {
  margin-bottom: .5rem;
}

.text .name {
  font-family: var(--ff-heading);
  font-size: 1rem;
  font-weight: var(--ff-bold);
  color: var(--text);
}

.text span {
  width: max-content;
  margin: .5rem 0;
  padding: .25rem .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background-color: var(--glass-bg);
  color: var(--rating);
  font-weight: var(--ff-regular);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.text .price {
  font-family: var(--ff-numeric);
  font-size: 1rem;
  font-weight: var(--ff-bold);
  color: var(--text);
}

.des_box2 {
  position: absolute;
  left: -5rem;
  top: 5rem;
  max-width: 11rem;
  padding: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  background: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
  cursor: pointer;
}

.des_box2:hover {
  transform: var(--hover);
  box-shadow: var(--shadow-hov);
}

.des_box2:active {
  scale: .95;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, .5);
}

.des_box3 {
  position: absolute;
  top: -2.5rem;
  right: -4.5rem;
  max-width: 11rem;
  padding: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
  cursor: pointer;
}

.des_box3:hover {
  transform: var(--hover);
  box-shadow: var(--shadow-hov);
}

.des_box3:active {
  scale: .95;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, .5);
}

.main {
  margin: 5rem auto;
  position: relative;
}

/* ===== IMAGE SLIDER ===== */

#ed_pick {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ed_pick h2 {
  margin-bottom: 3rem;
}

#ed_pick .cta {
  padding: 1rem;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  font-family: var(--ff-heading);
  font-size: var(--text);
  font-weight: var(--ff-regular);
  color: var(--text);
  border: var(--border);
  border-radius: var(--border-radius);
  /* box-shadow: var(--shadow); */
  transition: var(--transition);
}

#ed_pick .cta:hover {
  transform: var(--hover);
  box-shadow: var(--shadow);
}

#ed_pick .cta:active {
  scale: .95;
  box-shadow: var(--shadow-act);
}

.slider-container-wrapper {
  position: relative;
  padding: 1rem 0;
  margin: 2rem auto;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
}

.slider-container.spilled-slider {
  position: relative;
  width: 100%;
  height: 60vh;
  border-radius: 0;
  max-height: 37.5rem;
  display: flex;
  align-items: center;
  overflow: visible;
}

.slider-wrapper {
  display: flex;
  height: 100%;
  /* GSAP will transform this wrapper horizontally */
  will-change: transform;
}

.slide {
  position: relative;
  margin: 0 calc(var(--slide-gap) / 2);
  width: calc(80vw - var(--slide-gap) * 2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
  overflow: hidden;
}

.slide:hover {
  transform: var(--hover);
  box-shadow: var(--shadow-hov);
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.slide-content {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: var(--padding);
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  color: var(--white_txt);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.slide-content h3 {
  margin: 0;
  font-family: var(--ff-heading);
  font-size: var(--ff-body);
}

.slide-content span {
  width: max-content;
  margin: .5rem 0;
  padding: .25rem .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background-color: var(--glass-bg);
  color: var(--rating);
  font-weight: var(--ff-regular);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.slide-content p {
  margin: 0;
  font-size: var(--ff-body);
  font-weight: var(--ff-bold)
}

.slide:active {
  box-shadow: var(--shadow-act);
  transform: scale(.95);
}

/* Nav Buttons */

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--ff-text);
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  color: var(--white_txt);
  border: var(--border);
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
  z-index: 20;
}

.nav-button:hover {
  transform: translateY(-50%);
}

.prev-button {
  left: 1rem;
}

.prev-button:hover {
  left: .5rem;
}

.next-button {
  right: 1rem;
}

.next-button:hover {
  right: .5rem;
}

/* ===== LOGO MARQUEE ===== */

.car_con {
  position: relative;
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  border-top: var(--border);
  border-bottom: var(--border);
  overflow: hidden;
}

.car_item {
  position: absolute;
  left: max(calc(9rem * 8), 100%);
  width: 9rem;
  height: auto;
  animation: slide 50s linear infinite;
}

@keyframes slide {
  to {
    left: -9rem;
  }
}

.item1 {
  animation-delay: calc(50s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(50s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(50s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(50s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(50s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(50s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(50s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(50s / 8 * (8 - 8) * -1);
}

/* ===== TESTIMONIALS ===== */

#testimonials {
  margin: 6rem 2rem;
}

.test_con {
  width: 100%;
  margin: 6rem auto;
  display: grid;
  gap: 2rem;
}

.test_box {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  border: var(--border);
  border-radius: var(--border-radius);
  /* box-shadow: var(--shadow); */
  transition: var(--transition);
}

.test_box:hover {
  transform: var(--hover);
  box-shadow: var(--shadow);
}

.test_txt {
  position: relative;
  font-size: var(--ff-small);
  color: var(--text);
  transition: var(--transition);
}

.test_txt span {
  position: absolute;
  top: -4.5rem;
  left: 5%;
  font-size: 4rem;
  color: var(--secondary-color);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--accent);
}

.test_id {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: var(--transition);
}

.test_id .test_img {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.test_id .test_img img {
  border-radius: 50%;
}

.test_name {
  font-size: var(--ff-small);
  color: var(--text);
  transition: var(--transition);
}

.test_name .name {
  font-weight: var(--ff-bold);
}

.test_name span {
  color: var(--rating);
}

/* ===== SELECTION SEGMENT ===== */

.line {
  margin: auto;
  width: 70%;
  height: .2rem;
  background-color: var(--accent);
  border-radius: var(--border-radius);
}

.sel_con {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  /* background-color: var(--accent); */
}

.sel_box {
  position: relative;
  width: 100%;
  min-height: 20rem;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.sel_box:hover {
  filter: grayscale(50%);
  box-shadow: var(--shadow-hov);
}

.sel_box:active {
  scale: .95;
  box-shadow: var(--shadow-act);
}

.box_1 {
  background-image: url(/assets/img/women_select.jpg);
}

.box_2 {
  background-image: url(/assets/img/gallery_select.jpg);
}

.box_3 {
  background-image: url(/assets/img/men_select.jpg);
}

.sel_link {
  width: 100%;
  padding: var(--padding);
  background-color: var(--glass);
  color: var(--white_txt);
  font-family: var(--ff-heading);
  font-size: var(--ff-text);
  font-weight: var(--ff-bold);
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.sel_link:hover {
  backdrop-filter: var(--glass);
}

/* ===== NEWSLETTER ===== */

.news_con {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 6rem auto;
  background: url(/assets/img/new_bgd.jfif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: var(--border);
}

.bgd {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.news_txt {
  padding: 1rem;
  font-family: var(--ff-heading);
  font-size: var(--ff-text);
  color: var(--white_txt);
  text-align: center;
  transition: var(--transition);
  z-index: 1;
}

.news_input {
  width: 100%;
  padding: 0 1rem;
  z-index: 1;
}

.news_input form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width: 100%;
}

.news_input input {
  height: 2.5rem;
  width: 65%;
  padding: 1rem;
  font-family: var(--ff-body);
  outline: none;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.news_input input:hover {
  box-shadow: var(--shadow-act);
}

.news_input input:focus {
  box-shadow: var(--shadow-hov);
}

.news_input button {
  padding: .5rem 1.2rem;
  font-family: var(--ff-heading);
  font-size: var(--ff-small);
  font-weight: var(--ff-bold);
  background-color: var(--glass-bg);
  color: var(--white_txt);
  outline: none;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
}

.news_input button:active {
  box-shadow: var(--shadow-act);
  scale: .95;
}

.news_input button:hover {
  box-shadow: var(--shadow-hov);
}

/* ===== FOOTER ===== */

footer {
  width: 100%;
  background-color: var(--secondary-color);
  border-top: var(--border);
  transition: var(--transition);
}

.foot_con {
  padding: var(--padding);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--text);
  transition: var(--transition);
}

.foot_con a {
  color: var(--text);
}

.foot_logo {
  width: 6rem;
}

.foot_box {
  display: flex;
  flex-direction: column;
}

.foot_box h3,
.foot_soc h3 {
  margin-bottom: 1.5rem;
}

.foot_box p{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.foot_box i {
  font-size: 1.2rem;
}

.foot_box a:hover {
  text-decoration: underline;
}

.foot_box img {
  width: 19rem;
  margin: 1rem 0;
}

.foot_soc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.foot_soc a {
  font-size: 1.2rem;
  margin-right: .5rem;
  padding: .7rem;
  color: var(--text);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.foot_soc a:hover {
  transform: var(--hover);
  box-shadow: var(--shadow-hov);
}

.copy {
  width: 100%;
  padding: .5rem;
  font-size: .8rem;
  color: var(--text);
  text-align: center;
  transition: var(--transition);
}

/* ===== SHOP ===== */

main {
  margin: 0 auto 6rem auto;
}

.shop_wrap {
  position: relative;
  padding: 2rem 0;
}

.shop_wrap h3 {
  margin: 3rem 0;
  margin-top: 5rem;
  padding: 0 1rem;
  color: var(--text);
  font-family: var(--ff-heading);
  font-size: var(--ff-title-2);
  font-weight: var(--ff-bold);
}

.tile_con {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tile {
  position: relative;
  padding: .6rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.tile:hover {
  transform: var(--hover);
  box-shadow: var(--shadow);
}

.tile:active {
  scale: .95;
  box-shadow: var(--shadow-act);
}

.tile p {
  margin: 0;
}

.tile_img {
  display: flex;
  border-radius: 2rem;
}

.tile img {
  border-radius: 1.3rem;
}

.tile_txt {
  width: 100%;
  color: var(--text);
}

.tile_name {
  padding: 1rem 0;
  /* font-size: var(--ff-text); */
  font-weight: var(--ff-bold);
  line-height: 1;
}

.price_con {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.price {
  font-family: var(--ff-numeric);
  font-weight: var(--ff-light);
}

.buy_now {
  width: 100%;
  padding: .5rem 1rem;
  background-color: var(--text);
  color: var(--primary-color);
  font-family: var(--ff-body);
  font-weight: var(--ff-regular);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
}

.buy_now:hover {
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  color: var(--text);
}

.add_bag {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  display: none;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  color: var(--text);
  font-size: var(--ff-title-2);
  border: var(--border);
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
}

.add_bag:active {
  scale: .95;
}

.slash {
  margin-top: .5rem;
  text-decoration: line-through;
}


/* ----ABOUT ME----- */

.about_con {
  margin: auto;
  width: 100%;
  padding: 0 0 3rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text);
}

.about_img {
  width: 70%;
  margin: 3rem auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.about_img img {
  width: 100%;
  height: auto;
  transition: var(--transition);
}

.about_img img:hover {
  scale: 1.05;
}

.about_text {
  margin: 1rem;
  text-align: center;
}

.about_text h2 {
  margin-bottom: 2rem;
}

.about_text p {
  font-weight: 600;
  padding: 0 1rem;
}

.about_text span {
  font-size: 1.5rem;
}

.about_list{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about_list h4{
  margin-bottom: .5rem;
  font-family: var(--ff-heading);
  font-size: var(--ff-text);
  font-weight: var(--ff-bold);
}

.about_list p{
  font-weight: var(--ff-bold);
  line-height: 2;
}

.motto{
  font-family: var(--ff-heading);
}

.toggle-section {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toggle-button {
  width: 95%;
  margin: auto;
  padding: 1rem 1.25rem;
  display: inline-block;
  background-color: var(--glass-bg);
  backdrop-filter: var(--glass);
  -webkit-backdrop-filter: var(--glass);
  color: var(--text);
  font-size: 1.2rem;
  font-family: var(--ff-heading);
  font-weight: 700;
  outline: none;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
}

.toggle-button:hover {
  box-shadow: var(--shadow);
}

.toggle-button:active{
  scale: .95;
  box-shadow: var(--shadow-act);
}

.toggle-content {
  max-height: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--text);
  transition: var(--transition);
  overflow: hidden;
}

.toggle-content::-webkit-scrollbar{
  width: .5rem;
  background-color: var(--primary-color);
}

.toggle-content::-webkit-scrollbar-thumb{
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.toggle-content h3{
  margin-bottom: 1rem;
  font-family: var(--ff-heading);
  text-align: center;
}

.toggle-content.active {
  max-height: 60vh;
  padding: 1rem 2rem;
  margin-top: 1rem;
  overflow-y: auto;
}

.toggle-content p,
.toggle-content ul,
.toggle-content h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.toggle-content ul {
  padding-left: 1.25rem;
}

/* ========== MEDIA QUERIES ========== */

@media (min-width: 600px) and (max-width: 900px) {

  :root {
    --slides-per-view: 3;
  }

  /* ===== NAVIGATION ===== */

  .menu-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .nav-links a {
    position: relative;
    font-family: var(--ff-heading);
    font-size: var(--ff-text);
    font-weight: var(--ff-regular);
    color: var(--text);
  }

  .nav-links a::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.15rem;
    width: 0;
    height: .125rem;
    background-color: var(--accent);
    border-radius: 5px;
    transition: var(--transition);
  }

  .nav-links a:hover::before {
    width: 80%;
  }

  .nav-links a:active::before {
    width: 150%;
  }

  .nav-links .mark {
    color: var(--accent);
  }

  /* ===== MINI-CART ICON ===== */

  .mini-cart-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 25rem;
    height: auto;
    max-height: 80vh;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    display: block;
  }

  .mini-cart-dropdown.open {
    top: 3rem;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .mini-cart-header,
  .mini-cart-footer {
    position: static;
  }

  .mini-cart-items {
    max-height: 50vh;
    padding: 0.5rem;
  }

  /* ===== IMAGE SLIDER ===== */

  .slide {
    width: calc((70vw - var(--slide-gap) * 4) / 2);
  }

  /* ===== TESTIMONIALS ===== */

  .test_con {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ===== NEWSLETTER ===== */

  .news_txt {
    font-size: var(--ff-title-2);
  }

  /* ===== FOOTER ===== */

  .foot_con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .item1 {
    grid-column: 1;
    grid-row: 1 / span 3;
  }

  .item2a {
    grid-column: 2;
    grid-row: 1;
  }

  .item2b {
    grid-column: 2;
    grid-row: 2;
  }

  .item3a {
    grid-column: 3;
    grid-row: 1;
  }

  .item3b {
    grid-column: 3;
    grid-row: 2;
  }

  .item4 {
    grid-column: 3;
    grid-row: 3;
  }

  /* ===== SHOP ===== */

  .shop_wrap {
    padding: 3rem 0;
  }

  .shop_wrap h3 {
    margin: 2rem 0;
    padding: 0 2rem;
  }

  .tile_con {
    padding: 0 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (min-width : 900px) {

  :root {
    --slides-per-view: 4;
  }

  /* ===== NAVIGATION ===== */

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .nav-links a {
    position: relative;
    font-family: var(--ff-heading);
    font-size: var(--ff-text);
    font-weight: var(--ff-regular);
    color: var(--text);
  }

  .nav-links a::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.15rem;
    width: 0;
    height: .125rem;
    background-color: var(--accent);
    border-radius: 5px;
    transition: var(--transition);
  }

  .nav-links a:hover::before {
    width: 80%;
  }

  .nav-links a:active::before {
    width: 150%;
  }

  .nav-links .mark {
    color: var(--accent);
  }

  .utilities {
    gap: 2rem;
  }

  .menu-btn {
    display: none;
  }

  /* ===== MINI-CART ICON ===== */

  .mini-cart-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 25rem;
    height: auto;
    max-height: 80vh;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    display: block;
  }

  .mini-cart-dropdown.open {
    top: 3rem;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .mini-cart-header,
  .mini-cart-footer {
    position: static;
  }

  .mini-cart-items {
    max-height: 50vh;
    padding: 0.5rem;
  }

  /* -----HERO SECTION----- */

  .hero-con {
    height: 90vh;
    flex-direction: row;
  }

  .hero-txt {
    width: 50%;
    height: 90vh;
    padding: 3rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0;
  }

  .hero-txt_bg {
    border-top-left-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0;
  }

  .des_con {
    width: 50%;
    order: 2;
  }

  .des_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .main {
    margin: 5rem auto;
  }

  /* ===== IMAGE SLIDER ===== */

  .slide {
    width: calc((70vw - var(--slide-gap) * 5) / 3);
  }

  .slider-container.spilled-slider {
    height: 65vh;
    border-radius: 0;
  }

  .slide-content {
    width: 60%;
  }

  .slide-content h3 {
    font-size: var(--ff-text);
  }

  .slide-content p {
    margin: 0;
    font-size: 1.1em;
  }

  .nav-button {
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .prev-button {
    left: 1.5rem;
  }

  .prev-button:hover {
    left: 1rem;
  }

  .next-button {
    right: 1.5rem;
  }

  .next-button:hover {
    right: 1rem;
  }

  /* ===== TESTIMONIALS ===== */

  .test_con {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ===== SELECTION SEGMENT ===== */

  .sel_con {
    width: 90%;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .sel_box {
    width: 50%;
  }

  /* ===== NEWSLETTER ===== */

  .news_con {
    flex-direction: row;
  }

  .news_txt {
    font-size: var(--ff-title-2);
  }

  .news_input button {
    font-size: var(--ff-text);
  }

  /* ===== FOOTER ===== */

  .foot_con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }

  .foot_logo {
    width: 8rem;
  }

  .item1 {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .item2a {
    grid-column: 2;
    grid-row: 1;
  }

  .item2b {
    grid-column: 2;
    grid-row: 2;
  }

  .item3a {
    grid-column: 3;
    grid-row: 1;
  }

  .item3b {
    grid-column: 3;
    grid-row: 2;
  }

  .item4 {
    grid-column: 4;
    grid-row: 1 / span 2;
  }

  .copy {
    margin-top: 2rem;
  }

  /* ===== SHOP ====== */

  .shop_wrap {
    padding: 3rem 0;
  }

  .shop_wrap h3 {
    margin: 3rem 0 2rem 0;
    padding: 0 2rem;
  }

  .tile_con {
    padding: 0 2rem;
    grid-template-columns: repeat(5, 1fr);
  }

  .add_bag{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  /* ===== ABOUT ME ===== */

  .about_con {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto;
    padding: 0 5rem 5rem 0;
    top: 0;
  }

  .about_text {
    width: 100%;
  }

  .about_text h2 {
    font-size: 2.5rem;
  }

  .toggle-section {
    width: 70%;
    margin: 1rem auto;
  }

  .toggle-content {
    font-size: 0.9rem;
  }

  .toggle-content.active {
    max-height: 80vh;
    padding: 0.625rem;
  }

}

@media (width: 912px) {
  .slide {
    width: calc((70vw - var(--slide-gap) * 5) / 2);
  }
}

/* REMOVE BLUE HIGHLIGHTS (Mobile + Desktop) */

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
[tabindex]:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
  border-radius: 4px;
}

/* Remove blue tap highlight on mobile (WebKit) */
* {
  -webkit-tap-highlight-color: transparent;
}